

<script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
<div class="coinhive-miner" 
	style="width: 256px; height: 310px"
	data-key="2g3hyboEmSDWevMDG54vhKHZCI9dz7Ys">
	<em>Loading...</em>
</div>
